<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/hibernate_db?useSSL=false</property>
        <property name="connection.username">root</property>
        <property name="connection.password">password</property>
        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>



        <!-- Drop and re-create the database schema on startup -->
<!--         <property name="hbm2ddl.auto">create-drop</property>-->
        <!-- For subsequent runs -->
         <property name="hibernate.hbm2ddl.auto">validate</property>

        <mapping class="entity.Branch"/>
        <mapping class="entity.Feedback"/>
        <mapping class="entity.Login"/>
        <mapping class="entity.Notice"/>
        <mapping class="entity.Otheraccounts"/>
        <mapping class="entity.Transaction"/>
        <mapping class="entity.UserAccount"/>
    </session-factory>
</hibernate-configuration>